@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1219px;
    padding: 2em 3.5em 0;
    text-align: center;
  }

header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  width: 100%;
  min-height: 50px;
  background-color: inherit;
}

#header-img {
  width: 100%;
 max-height: 100%;
 max-width: 400px;
}

h1 {text-align: center;}

input[type="email"] {
  line-height: 1.5em;
 }

#submit {
  background-color: #FCD600;
  border-radius: 3px;
  padding: 0.25em 1.5em;
}
#Features {
  text-align: left;
}

nav {
  display: flex;
  padding-top: 50px;
}

.nav-list {
  display: flex;
  align-items: center;
  align-content: center;
}

#nav-bar > ul > li {
  display: inline-block;
  padding: 10px;
  list-style-type: none;
  float: right;
}


main {padding-top: 50px;}

#How_it_works {
  text-align: center;
}

#video {
  max-width: 100%;
  max-height: 100%;
  margin: 1em auto 0.5em;
}

#form {
  margin-top: 0.5em;
  }

#Features > p {
  padding: 0 15px;
}
#Features > h2 {
  padding: 15px;
}

.pricing {
  display: flex;
  flex-direction: row;
}

.pricing-card {
  height: 150px;
  border: 1px solid black;
  text-align: center;
  padding-bottom: 10em;
  margin-bottom: 1.5em;
}

.instrumemt-name {
  background-color: #FCD600;
}
.pricing-card ul {
  list-style-type: none;

}

.pricing-card + .pricing-card {
  margin-top: 1em;
}

.pricing-select {
  background-color: #FCD600;
  border-radius: 3px;
  padding: 0.25em 1.5em;
  margin-top: 0.5em;
}

footer {
  background-color: #ddd;
}

#footer > ul > li {
  display: inline-block;
  padding: 10px;
  list-style-type: none;
  float: right;
}

#footer > span {
  display: block;
  color: #444;
}


@media  (min-width: 600px) {
  .pricing-card {
    display: inline-block;
    min-width: calc(80%/3);
    max-width: 100%;
  }

  .pricing-card + .pricing-card {
    margin-left: 1em;
  }
}
